{# Code from https://gitlab.com/crepererum/blog #}
{% set abs_path = "./" ~ page.path ~ src  %}
{% set metadata = get_image_metadata(path=abs_path) %}
{% set width = metadata.width %}
{% if meta.width_override %}		
    {% set width_override = meta.width_override %}		
{% endif %}
{% set srcset_list = [] %}
{% if  meta.loading %}
    {% set loading = meta.loading %}
{% endif %}	
{% if  meta.caption %}		
    {% set caption = meta.caption %}		
{% endif %}

{% for s in config.extra.images_sizes %}
    {% if width >= s %}
        {% set resized_img = resize_image(path=abs_path, width=s, op="fit_width") %}
        {% set element = resized_img.url ~ " " ~ s ~ "w" %}
        {% set_global srcset_list = srcset_list | concat(with=[element]) %}
    {% endif %}
{% endfor %}

{% if width_override %}		
    {% set default_resized_img = resize_image(path=abs_path, width=width_override, op="fit_width") %}		
{% else %}		
    {% set default_resized_img = resize_image(path=abs_path, width=config.extra.images_default_size, op="fit_width") %}
{% endif %}

<figure>
    <img
        alt="{{ alt }}"
        height="{{ default_resized_img.height }}"
        width="{{ default_resized_img.width }}"
        src="{{ default_resized_img.url | safe }}"
        srcset="{{ srcset_list | join(sep=", ") | safe }}"
        sizes="{{ config.extra.images_sizes_attr }}"
        {%- if config.markdown.lazy_async_image -%}decoding="async" loading="lazy"{%- endif -%}
        {% if class is defined %}class="{{ class }}"{% endif %}
    >
    {% if caption is defined %}
    <figcaption>{{ caption }}</figcaption>
    {% endif %}
</figure>