{% extends "base.html" %}
{% block css %}
    <link rel="stylesheet" href="{{ get_url(path="css/index.css", trailing_slash=false) }}">
    {% if config.markdown.highlight_code and config.markdown.highlight_theme == "css" %}
    <link rel="stylesheet" type="text/css" href="{{ get_url(path="css/syntax-theme-dark.css", trailing_slash=false) }}" media="(prefers-color-scheme: dark)" />
    <link rel="stylesheet" type="text/css" href="{{ get_url(path="css/syntax-theme-light.css", trailing_slash=false) }}" media="(prefers-color-scheme: light)" />
  {% endif %}
{% endblock %}
{% block content %}
<h1> {{ page.title }}</h1>
<h3><i>{{ page.description }}</i></h3>

<ul class="post-metadata">
	<li>Posted on: 
        <time datetime="{{ page.date }}">{{ page.date | date(format="%-d %B %Y") }}</time>
    </li>
    {% if page.updated %}
    <li>(Updated: {{ page.updated }})</li>
    {% endif %}
	Tags:{%- for tag in page.taxonomies.tags %}
	<li><a href="{{ get_taxonomy_url(kind="tags", name=tag) }}" class="post-tag">{{ tag }}</a>{%- if not loop.last %}, {% endif %}</li>
	{%- endfor %}
</ul>
{% if page.date %}
    {% set page_time = page.date|date(format="%s")|int %}
    {% set curr_time = now()|date(format="%s")|int %}
    {% set diff = (curr_time-page_time)/86400  %}
    {% if diff > 365 %}
    {% include "partials/blog-old-content.html" %}
    {% else %}
    {% endif %}
{% endif %}
<article>
  {% if page.extra.toc_set %}
    {% include "partials/toc.html"%}
  {% endif %}
  {{ page.content | safe }}
</article>
<div class="post-footer">
	<a class="button reply button-shadow" href="mailto:{{ config.extra.email }}?subject=Reply to: {{ page.title }}">Reply by email</a>
</div>
<div align="right"><a href="#top">Back to top</a></div>
{% if page.lower or page.higher %}
    <nav class="page-nav">
    {% if page.higher %}
        <a class="page-nav-item" href="{{ page.higher.permalink }}">
            <div class="nav-arrow">← Previous</div>
            <span class="page-title">{{ page.higher.title }}</span>
        </a>
    {% endif %}
    {% if page.lower %}
        <a class="page-nav-item" href="{{ page.lower.permalink }}">
            <div class="nav-arrow">Next →</div>
            <span class="page-title">{{ page.lower.title }}</span>
        </a>
    {% endif %}
    </nav>
{% endif %}
{% endblock content %}
