{% extends "base.html" %}
{% block content %}

<h1> {{ page.title }}</h1>
<h3><i>{{ page.description }}</i></h3>
<ul class="post-metadata">
	<li>Saved on: <time datetime="{{ page.date }}">{{ page.date | date(format="%-d %B %Y") }}</time></li>
	Tags:{%- for tag in page.taxonomies.tags %}
	<li><a href="{{ get_taxonomy_url(kind="tags", name=tag) }}" class="post-tag">{{ tag }}</a>{%- if not loop.last %}, {% endif %}</li>
	{%- endfor %}
</ul>
<p>Original Post &rarr; <a href="{{page.extra.url}}">{{page.extra.url}}</a></p>
<hr>
<article>
    <h2>Personal comment</h2>
    {{ page.content | safe }}
</article>
{% if page.lower or page.higher %}
    <nav class="page-nav">
    {% if page.higher %}
        <a class="page-nav-item" href="{{ page.higher.permalink }}">
            <div class="nav-arrow">← Previous</div>
            <span class="page-title">{{ page.higher.title }}</span>
        </a>
    {% endif %}
    {% if page.lower %}
        <a class="page-nav-item" href="{{ page.lower.permalink }}">
            <div class="nav-arrow">Next →</div>
            <span class="page-title">{{ page.lower.title }}</span>
        </a>
    {% endif %}
    </nav>
{% endif %}
{% endblock content %}
